{% extends "base.html" %}


{% block head %}
<script src="{{ url_for('static', filename='js/thirdparty/p5.js') }}"></script>
<script src="{{ url_for('static', filename='js/thirdparty/idle.js') }}"></script>
<script src="https://freshfork.github.io/p5.EasyCam/p5.easycam.js"></script>
<script src="{{ url_for('static', filename='js/cube.js') }}"></script>
<script src="{{ url_for('static', filename='js/cubie.js') }}"></script>
<script src="{{ url_for('static', filename='js/face.js') }}"></script>
<script src="{{ url_for('static', filename='js/move.js') }}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
{% endblock %}

{% block body %}
<script src="{{ url_for('static', filename='js/sketch.js') }}"></script>

{% if solution %}
<script>
    console.log("mdr")
</script>
{% endif %}

{% endblock %}